@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
    --primary-blue: #007BFF;
    --accent-blue-light: #82b2f1;
    --accent-magenta: #ff66b2;
    --accent-blue-dark: #338bff;
    --background-light: #f3f3f3;
    --background-white: #ffffff;
    --text-dark: #333;
    --border-color: #ddd;
    --hover-background: #e6f0ff;
    --overlay-bg: rgba(0, 0, 0, 0.8);
}

html, body {
    height: 100%;
    margin: 0;
}


/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(145deg, var(--background-light), var(--background-light)); /* Pearlescent gradient background */
    color: var(--text-dark);
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%; /* Full width */
    max-width: 100vw; /* Ensure container does not exceed viewport width */
}

.relative-container {
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .profile-button {
    margin-left: 10px;
}

.header-container .logout-button {
    margin-left: 10px;
}


h1 {
    margin-bottom: 20px;
}

/* Form container styles */
.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    max-width: 1200px; /* Max width for larger screens */
    gap: 10px;
}

/* Prompt input styles */
input[type="text"] {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--background-white);
    color: var(--text-dark);
    font-size: 1em;
    flex: 1; /* Allow input to take available space */
    min-width: 300px; /* Minimum width */
    max-width: 90%; /* Responsive width */
}

/* Form controls container styles */
.form-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Dropdown and checkbox styles */
.dropdown-button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-container {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-container label {
    font-size: 0.9em;
}



/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    button {
        width: 8vh; /* Adjust width for smaller screens */
        height: 2.5vh; /* Adjust height for smaller screens */
        font-size: 0.9em; /* Slightly smaller font size */
    }
}

@media (max-width: 480px) {
    button {
        width: 100%; /* Further adjust width for very small screens */
        height: 100%; /* Further adjust height for very small screens */
        font-size: 0.8em; /* Smaller font size */
    }
}
/* Loading dots styles */
.button-text {
    display: block; /* Show text by default */
}

.loading-dots {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: space-between; /* Space between dots */
    align-items: center; /* Center dots vertically within the container */
    position: relative; /* Position absolute within the button */
    transform: translate(-50%, -50%);
    left: 25px;
    top: 10px;
    padding: 10px 10px 0px 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

/* Sequential color alternation */
.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

/* Keyframe animation for sequential color change */
@keyframes blink {
    0% {
        opacity: 0.5;
        background-color: #ff66b2;
    }
    25% {
        opacity: 1;
        background-color: #0099ff;
    }
    50% {
        opacity: 0.5;
        background-color: #ff66b2;
    }
    75% {
        opacity: 1;
        background-color: #0099ff;
    }
    100% {
        opacity: 0.5;
        background-color: #ff66b2;
    }
}

/* Image container styles */
.image-container {
    max-width: 100%;
    margin-bottom: 20px;
}

/* Description container styles */
.description-container {
    color: #fff;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: center;
    display: none;
}

/* Thumbnails container styles */
#thumbnails-container {
    position: relative;
    width: 100%; /* Full width of the container */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max-height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 50px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Thumbnail grid layout */
#thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr)); /* Reduced size of grid items to 10% */
    max-width: 300vh;
    gap: 20px; /* Increased space between grid items */
}

/* Thumbnail styles */
.thumbnail-container {
    position: relative;
    margin: 20px;
    overflow: hidden; /* Hide overflow to maintain grid alignment */
    width: 100%; /* Ensure container takes full width of grid cell */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;

}

.thumbnail {
    cursor: pointer;
    width: 100%; /* Fill the container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover;
    transition: transform 0.2s;
    display: block; /* Ensure images are block elements to fill their containers */
}

.thumbnail-container:hover {
    transform: scale(1.1);
}

/* Delete icon styles */
.delete-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hidden {
    display: none;
}

.full-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide both vertical and horizontal scrolling */
    box-sizing: border-box; /* Include padding in width calculations */
    
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.full-image-overlay::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.full-image-container {
    position: fixed;
    background: linear-gradient(145deg, var(--background-white), var(--background-light)); /* Pearlescent gradient background */
    padding: 20px;
    border-radius: 8px;
    max-width: 90vw; /* Max width as a percentage of the viewport width */
    max-height: 90vh; /* Max height as a percentage of the viewport height */
    width: auto; /* Width is determined by content */
    height: auto; /* Height is determined by content */
    overflow: auto; /* Enable scrolling if the content exceeds max dimensions */
    box-sizing: border-box; /* Include padding in width calculations */
    
    /* Hide scrollbar for WebKit browsers (Chrome, Safari) */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.full-image-container img {
    max-width: 50vh;
    max-height: 50vh;
    width: auto; /* Width is determined by content */
    height: auto; /* Height is determined by content */
}

.full-image-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    transition: background 0.3s ease;
}

.close-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.input-toggle-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    cursor: pointer;
    position: relative;
}

.toggle-slider {
    position: relative;
    width: 100px; /* Adjust width for text visibility */
    height: 20px;
    background-color: #eee; /* Slider background color */
    border-radius: 1.5em;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    margin-left:10px;
}

.toggle-text {
    font-size: 0.7em;
    position: absolute;
    transition: opacity 0.3s;
    white-space: nowrap;
    padding-right: 35px;
}
/* Slider knob */
.toggle-slider::before {
    content: '';
    position: absolute;
    height: 20px; /* Height of the knob */
    width: 20px; /* Width of the knob */
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s;
    right: 75px; /* Adjust this value if needed */
    top: 50%;
    transform: translateX(-5%) translateY(-50%); /* Adjusted for initial position */
}

/* Adjusted state when the checkbox is checked */
.toggle-checkbox:checked + .toggle-label .toggle-slider::before {
    transform: translateX(5em) translateY(-50%); /* Original position when checked */
}


.toggle-checkbox:checked + .toggle-label .toggle-slider {
    background-color: rgb(52, 114, 248); /* Maintain slider background color */
}

.toggle-checkbox:checked + .toggle-label .toggle-slider .toggle-text {
    opacity: 1;
}

.toggle-checkbox:not(:checked) + .toggle-label .toggle-slider .toggle-text {
    opacity: 0;
}

.text-container {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: flex-start; /* Align items to the top */
    width: 100%; /* Ensure it takes full width of its parent */
    max-width: 50vh; /* Ensure it does not exceed parent width */
    box-sizing: border-box; /* Include padding and border in width calculations */
    overflow: hidden; /* Hide any overflow */
}

.toggle-container {
    margin-right: 10px; /* Space between toggle buttons and text-info-container */
}

.text-info-container {
    flex: 1; /* Allow text-info-container to take available space */
    padding: 10px;
    max-width: calc(100% - 10px); /* Ensure it does not exceed the width of text-container */
    overflow-wrap: break-word; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words break and wrap */
    word-break: break-word; /* Break long words if needed */
    box-sizing: border-box; /* Include padding in width calculations */
    color: var(--text-dark); /* Darker text color for contrast */
}

/* Optional: Hover effect for text elements */
.full-image-prompt, .full-image-description, .full-image-aspect-ratio {
    padding: 1rem; /* Responsive padding */
    background: linear-gradient(145deg, var(--background-light), var(--background-white)); /* Inverse gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    transition: background 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .full-image-prompt, .full-image-description, .full-image-aspect-ratio {
        padding: 0.75rem; /* Slightly smaller padding for medium screens */
    }
}

@media (max-width: 992px) {
    .full-image-prompt, .full-image-description, .full-image-aspect-ratio {
        padding: 0.5rem; /* Even smaller padding for smaller screens */
    }
}

@media (max-width: 768px) {
    .full-image-prompt, .full-image-description, .full-image-aspect-ratio {
        padding: 0.25rem; /* Minimal padding for very small screens */
    }
}
/* General button styles */
.toggle-button, .download-button {
    margin-top:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Dropdown container styles */
.dropdown-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Dropdown button styles */
.dropdown-button {
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(145deg, var(--background-white), var(--hover-background));
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    position: relative; /* Ensure dropdown arrow is positioned correctly */
}

/* Dropdown arrow styles */
.dropdown-button::after {
    content: '▼';
    font-size: 0.8em;
    margin-left: 10px;
}
/* Dropdown menu styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    background: var(--background-white); /* Ensure background matches button */
    z-index: 1000;
}

/* Dropdown item styles */
.dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-size: 1em;
}

/* Dropdown item hover/focus styles */
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: var(--primary-blue);
    color: #fff;
}

/* Show dropdown menu on button click */
.dropdown-container.show .dropdown-menu {
    display: block;
}


/* Responsive adjustments */
@media (max-width: 767px) {
    .dropdown-button {
        font-size: 0.9em;
    }

    .dropdown-item {
        font-size: 0.9em;
    }

    .form-container {
        flex-direction: column; /* Stack form controls vertically on small screens */
    }

    .form-controls {
        flex-direction: column;
        align-items: stretch; /* Allow controls to stretch full width */
    }
}

@media (max-width: 480px) {
    .full-image-container img {
        max-width: 30vh;
        max-height: 30vh;
    }
    
    .delete-icon {
        height: 10px;
        width: 10px;
    }

    #thumbnails {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); /* Reduced size of grid items */
    }
}

#clearThumbnails {
    margin-top:25px;
    width:  auto;
    height: auto ;
}

.theme-selector-container {
    margin: 20px;
}

.theme-selector, button, .download-button {
    padding: 10px;
    border: none; /* Removed border */
    border-radius: 5px;
    background: linear-gradient(145deg, #ffffff, #e6f0ff); /* Light gradient background */
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Enhanced depth and shadow */
    transition: background 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
}

.theme-selector:hover, button:hover, .download-button:hover {
    background: linear-gradient(145deg, #e6f0ff, #ffffff); /* Slightly darker gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}

.dark-theme .theme-selector:hover, .dark-theme button:hover, .darktheme .download-button:hover {
    background: linear-gradient(145deg, #333, #444); /* Slightly darker gradient on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
}



.theme-selector option {
    background: #ffffff;
    color: #333; /* Neutral text color */
}

.theme-selector {
    display: flex;
    align-items: center;
}

.theme-option {
    display: flex;
    align-items: center;
}

.theme-option svg {
    margin-right: 8px;
}

/* Light Theme Styles */
.light-theme {
    background: linear-gradient(145deg, #fefeff, #f3f3f3); /* Pearlescent gradient background */
    color: #333;
}

/* Dark Theme Styles */
.dark-theme {
    background: linear-gradient(145deg, #333, #1a1a1a); /* Dark gray gradient background */
    color: #f1f1f1;
}

/* Dropdown Styles for Light and Dark Themes */
.theme-selector.light-theme {
    background: linear-gradient(145deg, #ffffff, #e6f0ff); /* Light gradient */
    color: #333; /* Neutral text color */
}

.theme-selector.dark-theme {
    background: linear-gradient(145deg, #444, #333); /* Dark gradient */
    color: #ccc; /* Light text */
}

/* Light Theme Styles for Dropdown and Input Field */
input.light-theme {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd; /* Light border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

input.light-theme:focus {
    border-color: #ccc; /* Lighter border on focus */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Enhanced shadow on focus */
}

/* Dark Theme Styles for Dropdown and Input Field */
input.dark-theme {
    background-color: #333;
    color: #f1f1f1;
    border: 1px solid #555; /* Darker border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
}

input.dark-theme:focus {
    border-color: #666; /* Slightly lighter dark border on focus */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* Enhanced shadow on focus */
}
.copy-button {
    position:relative;
    max-width: 5vh;
    top:-25px;
    left:-25px;
}

.text-info-container p {
    font-size:0.7em;
}


.topSelector {
    position:relative;
    display:flex;
    left:0px;
    top:0px;
    margin: 5px 0px 0px 5px;
}

.send-button:hover {
    background: var(--accent-blue-dark);
}

.send-button:disabled {
    background: var(--accent-blue-light);
    cursor: not-allowed;
}
